root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.rs]
indent_size = 4

[*.{ts,tsx,js,jsx,json,css}]
indent_size = 2

[*.{yml,yaml,toml}]
indent_size = 2

[*.{ps1,cmd,bat}]
end_of_line = crlf
